@import "functions";
@import "global-styles";
@import "normalize";
@import "reset";
@import "reach";

////////////////////////////////////////////////////////////////////////////////
// Base styles

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-base);
  font-family: var(--font-family-base);
  background: var(--color-background);
  color: var(--color-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mark {
  background-color: var(--color-warning);
  color: inherit;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline-color: var(--color-focus-outline);
}

tt,
code,
pre {
  border: 1px solid var(--color-code-border);
  border-radius: 3px;
  background-color: var(--color-code-background);
  color: var(--color-code-font);
  font-family: var(--code-font-family);
}

p pre,
li pre {
  display: inline-block;
  line-height: 1;
  font-size: 80%;
  padding: 0.125em;
  margin: 0;
}

tt,
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  line-height: 1.4;
}

a {
  color: var(--link-color);
  text-decoration-color: var(--link-color-text-decoration);
  text-decoration-style: var(--link-style-text-decoration);

  &:hover {
    color: var(--link-color-hover);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Generic components

@import "forms";

////////////////////////////////////////////////////////////////////////////////
// Utility classes

.slide-down {
  animation: slide-down 200ms ease-out;
}
