button,
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: var(--input-padding) calc(var(--input-padding) / 1.825);
  font-family: inherit;
  font-size: 100%;
  line-height: var(--input-line-height);
  margin: 0;
  border: 1px solid var(--input-color-border);
  border-radius: var(--input-border-radius);
  background: var(--input-color-background);
  color: var(--input-color-font);

  &:focus {
    background: var(--input-color-background-active);
    border-color: var(--input-color-border-active);
  }
}

.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-radius: var(--button-border-radius);
  background: var(--button-color-background);
  color: var(--button-color-font);
  font-weight: var(--button-font-weight);

  &:hover {
    background: var(--button-color-background-hover);
  }
}
