.ThemeSelect {
  padding: var(--rhythm);
  background: var(--color-background);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
}
